<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title><%-movie.title%></title>
  <style>
body{
  font-family: 'DINOT-Regular', Verdana;
}
main {
  display:flex;
  flex-wrap:wrap;
}
h2{
  font-family: Futura, AppleGothic,Verdana, sans-serif;
  font-weight: bolder;
}
span{
  font-family: Futura, Verdana, sans-serif;
  font-size: 16px;
  color: rgba(30, 30,30,0.95);
}
input{
  font-size:40px;
    background:rgba(240,240,30,1);
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:120%;
    cursor:pointer;
    border-bottom:5px solid rgba(150,150,10,1);
    border-radius:4px;
}
input:hover{
  background:rgba(255,200,100,.9);
  border-bottom:2px solid rgba(175,140,60,1);
  border-radius:4px;
}

</style>
</head>
<body>
  <h1><%-movie.title%></h1>
  <h2>(<%-movie.year%>)</h2>
<ul>
  <li><img src="<%-movie.poster%>"></li>
  <li>rated: <%-movie.rating%> | director: <%-movie.director%></li> <br>
</ul>
<p> <%-movie.plot%> </p>
  <ul>
    <%for (var i = 0; i < movie.actors.length; i++) {%>
      <li><%-movie.actors[i]%></li> 
      <% }; %>
  </ul>
 <form action="/movie/<%= movie.id %>?_method=DELETE" method="POST">
<input type ="submit" value="Remove this movie">
 </form>

</body>
</html>
  